body {
  width: 1300px;
  font-family: "Shippori Mincho", serif;
}

/*ヘッダー*/
header {
  font-family: "Amatic SC", cursive;
  height: 70px;
  font-size: 40px;
}

h1 {
  font-size: 40px;
  text-align: right;
  color: #55bbbb;
}

/*メイン*/
main {
  width: 1000px;
  margin: 0 auto;
}

/*ファーストビュー*/
.fv {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/fv.png);
  height: 500px;
  width: 1150px;
  position: relative;
}

/*ファーストビューテキスト*/
.fv-text {
  position: absolute;
  top: 20%;
  left: 20px;
}
.fv-text1 {
  font-size: 46px;
}

.fv-text1 span{
  color: #55bbbb;
  font-size: 64px;
}

.fv-text1 strong {
  font-size: 64px;
}

.fv-text2 {
  
}

.border-radius1 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #ff2599;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.fv-text2-price {
  width: 500px;
  color: #55bbbb;
}

.border-radius2 {
  width: 500px;
  height: 70px;
  background-color: #ff2599;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.p-text{
  transform: rotate(45deg);
}

.container-text {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
}

.answer {
  background-color: #00a9ff;
}
